/*================================================
Fonts
================================================*/

/* Start Variables */
:root {
  --color-primary: #0071ef;
  --white-color:#ecf1f8;
  --main-white: #fff;
  --main-transition: all 0.3s ease-in-out;
  --body-fonts: "Nunito Sans", sans-serif;
  --title-fonts: "Jost", sans-serif;
  --secondary-color: #616161;
  --dark-color:black;
    
}

/* landing */

.landing {
    background-image: url(../../public/assets/images/home/1.jpg);
  top: 145px;
width: 100%;
  background-size: cover;
  min-height:77vh;
  position: relative;

}

.landing .content {
  display: flex;
  flex-direction: column;
  width: 40%;
  position: relative;
  top: 100px;
  line-height: 1.3;
  align-items: start;
}

.landing .content h4{
font-size: 1.8em;
align-self: flex-start;
}


.landing .content b{
  font-weight:700;
font-size: 3.2em;
color:black ;

}

.landing .content .blue-color{
  color: var(--color-primary);
}

.landing .content .btn-primary{
margin-top: 20px;
  width: 130px;
}




@media only screen and (max-width: 991px) {
  .landing {
    top: 80px;
  }
  .landing .content{
    width: 50%;
  }

  .landing .content h4{
 font-size: 1.5em;
  }

  .landing .content b{
    font-size: 2.5em;
     }


}

@media only screen and (max-width: 768px) {

  .landing .content{
    width: 70%;
  }
  .landing .content h4{
    font-size: 1.2em;
     }

     .landing .content b{
      font-size: 2.2em;
       }
  

}


/* start Specialized */

.specialized {
  padding-top: 250px;
  background: var(--white-color);
}


 .specialized .specialisations {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
gap: 20px;
margin-top: 50px;


width: 100%;
padding-bottom: 100px;
}

.specialized .card {
  display: flex;
  flex-direction: column;
  justify-content: center;
background-color: white;
padding: 20px 15px;
gap: 20px;
max-width: 210px;
}

.Doctors img {
min-height: 281px;

}

.specialized .card img{
  width: 40px;

}
.specialized .card .card-body{
display: flex;
flex-direction: column;
gap: 15px;

}

.specialized .card .card-body span{
  font-weight: 600;
  color: #000;
}

.specialized .card .card-body b {
  font-size: 19px;
}

.specialized .card .card-body p{
  font-size: 18px;
}



@media only screen and (max-width: 991px) {



}

@media only screen and (max-width: 768px) {


  

}

/*************************Best our departments********/


.Best-centers .container {

}

.Best-centers .icons
{
display: flex;
padding: 0px 30px;
gap: 5px;
justify-content: center;
margin-bottom: 10px;
}

.Best-centers .icons .icon{
  max-width: 3.8rem;
  /* max-width: 60px; */
    background-color: #F6FAFF;
    padding: 10px;
}





.Best-centers .speciality-rhinology {
  box-shadow: 0px 5px 15px 0px rgba(0, 33, 85, 0.1);
  justify-content: space-between;
  background-color: white;
  display: grid;
  grid-template-columns: 50% 50%;
  max-height: 345px;
}

.Best-centers .speciality-rhinology .right {
  background-image: url(../../public/assets/images/home/mic2.jpg);
  background-size: cover;
  background-position: center; 
  background-repeat: no-repeat;

  min-height: 100%; 
  height: auto;
  background-color: white;
  
}

.Best-centers .speciality-rhinology img {
  padding: 10px;
  width: 100%;
  height: 100%;
}

.Best-centers .speciality-rhinology .left {
  padding: 25px 18px;
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.Best-centers .left p {
  font-size: 0.8rem;
  line-height: 1.5;
  font-weight: 400;
  color: rgb(147, 138, 138);
}

.Best-centers .speciality-rhinology .services {
  display: grid;
  grid-template-columns: auto auto;
  row-gap: 0.8rem;
}

.Best-centers .speciality-rhinology .services span {
  font-size: 0.8rem;
}

.Best-centers .speciality-rhinology .services span::before {
  font-family: "Font Awesome 5 Free";
  content: "\f00c";
  font-weight: 900;
  position: relative;
  top: 0px;
  left: 0;
  margin-right: 3px;
  font-size: 10px;
  color: var(--color-primary);
}


@media only screen and (max-width: 991px) {
  .Best-centers .speciality-rhinology {
      grid-template-columns: 1fr 1fr;
  }

  .Best-centers .speciality-rhinology .right {
 
    background-size: cover;
    height: 250px; 
    padding: 20px;

}

  .Best-centers .speciality-rhinology .left {
      padding: 15px 11px;
      gap: 0.5rem;
  }

  .Best-centers .left p {
      font-size: 0.7rem;
      line-height: 1.3;
  }

  .Best-centers .speciality-rhinology .services {
      row-gap: 0.4rem;
  }

  .Best-centers .icons .icon {
      width: 3rem;
      padding: 3px;
  }
}


@media only screen and (max-width: 768px) {

  .Best-centers .speciality-rhinology .right {
    height: 200px; /* Set a height to avoid breaking the layout */
    background-size: contain; 
    padding: 15px;
    order:-1;
}

  .Best-centers .speciality-rhinology {
      grid-template-columns: 1fr;
  }

  .Best-centers .speciality-rhinology .left {
      padding: 10px;
      gap: 0.4rem;

      background-color: white;
  }

  .Best-centers .left p {
      font-size: 0.6rem;
      line-height: 1.2;
  }

  .Best-centers .speciality-rhinology .services {
      row-gap: 0.2rem;
  }

  .Best-centers .icons .icon {
      width: 1.8rem;
      padding: 0.5px;
  }
}




/***************************info************/

.info{
    background-color: var(--color-primary);

    color: white;
    position: relative;
    top: -160px;
    z-index: -1;
    padding: 0px;

}

.info .informtions
{
  display: flex;
  justify-content: space-between;
    padding: 60px 0px;

  
}

.info .informtions .single-info{
  display: flex;
  gap: 13px;
}


.info .informtions .single-info .details{
  display: flex;
  flex-direction: column;
  line-height: 1.3;

}


.info i{

  font-size: 30px;
}

.info strong{
    font-weight: 600;
    font-family: jost;
    font-size: 20px;

}

.info .col{
 
    background-color: #151515;
    border: 1px solid gray;

} 

@media only screen and (max-width: 991px) {
  .info{
    display: none;
  }
}

/*********doctors**********/

.Doctors  {

  position: relative;
top: -130px;
}

.Doctors img{

max-width: 300px;
}
.Doctors .docs {
  display: grid;
  grid-template-columns: repeat(auto-fit,minmax(180px, 1fr));
justify-content: space-between;
gap: 1.3rem;

}
.Doctors .docs .col{
  display: flex;
  flex-direction: column;
}

.Doctors strong{
    font-size: 12px;
    font-weight: 800;

}


.Doctors .mid{
display: flex;
flex-direction: column;
  line-height: 1.6;
  padding: 8px;
  color: white;

}

.Doctors .first{
  background-color: #37C9DD;
}

.Doctors .second{
  background-color: #3FA5EB;
}

.Doctors .three{
  background-color:#0383CD ;
}

.Doctors .four{
  background-color:#3156A3 ;
}


.Doctors .bottom{
    
    display: flex;
    flex-direction: column;
    padding: 10px;
    line-height: 1.5;
    
}

.Doctors .bottom strong{
    font-size: 10px;
}
.Doctors .bottom span{
    color: rgb(158, 152, 152);
 font-size: 10px;
}

.Doctors .doc-btn{
  position: absolute; /* or absolute depending on the context */
  left: 50%;
  transform: translateX(-50%);
  margin-top: 20px;

} 

/*******order**************/

.order {
    color: white;
    padding: 0px;
}

.order .container {
margin: 0px;
padding: 0px;
width: 100%;
}
 .orders {
 
  display: grid;
  grid-template-columns: 50% 50%;
  
 } 

.order h1{
    font-size: 25px;
    line-height: 1.5;
    color: white;
}

.order .hours 
{
margin-left: -10px;
margin-bottom: 30px;
}
  
.order .left {
  padding: 80px 0px;
    background-color:#7B66FF ;


}

.order .right {
  padding: 80px 180px 80px 40px;
    background-color:#64B4F1 ;
}

.order .appointemnts {
   margin-left: 170px;
    text-align: start;
    width: 60%;

}
  

.order .appointemnts .appointemnt {
  display: flex;
    border-bottom: 1px solid rgb(151, 141, 141);
    justify-content: space-between;

    padding: 6px 0px;


}

.order .appointemnts .appointemnt:last-child{
border-bottom: none;
}

.order .appointemnts .appointemnt .col {
    padding: 5px 0px;
    font-size: 12px;

}

.form-right {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.form-right form{
  display: flex;
  flex-direction: column;
  gap: 20px;
}



.form-right input, .form-right select{

    background-color: #64B4F1;
    color: white;
    border: 1px solid rgb(218, 217, 216);
    padding:10px 10px;
    font-size: 10px;
    

}

.form-right input::placeholder{
    color: white;
}

.form-right button{

  background-color: white;
  color: var(--color-primary) ;

}



@media only screen and (max-width: 991px) {
  .orders {
      grid-template-columns: 1fr;
      text-align: center;
  }

  .order .left, .order .right {
      padding: 40px 60px;
      text-align: center;
  }

  .order .appointemnts {
      margin-left: 0;
      width: 100%;
  }

  .order .appointemnts .appointemnt .col {
      font-size: 14px;
  }

  .form-right input {
      padding: 12px;
      font-size: 14px;
  }
}

@media only screen and (max-width: 768px) {
  .orders {
      grid-template-columns: 1fr;
  }

  .order h1 {
      font-size: 20px;
  }

  .order .left, .order .right {
      padding: 20px 100px;
  }


  .form-right input {
      padding: 8px;
      font-size: 12px;
  }

  .order .appointemnts .appointemnt .col {
      font-size: 10px;
  }

  .form-right button {
      padding: 10px;
      font-size: 14px;
  }
}


/*****news feed*********/
 
.news-feed {
  background-color: #F5F9FF;
}



.news-feed .cards{
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
  gap: 1rem;
  justify-content: space-between;
 
}


.news-feed .card{
  display: flex;
  flex-direction: column;
}




.news-feed .mid {
  display: flex;
  flex-direction: column;
  padding: 10px;
  line-height: 1.6;
  border-bottom: 1px solid rgb(146, 139, 139);
  background-color: white;
  
}



.news-feed .mid span {
  color:var(--color-primary);
  font-size: 13px;
}

.news-feed .mid strong {

  font-size: 12px;
  font-weight: 800;
}


.news-feed .mid p {

  font-size: 9px;

}

.news-feed b {
  font-size: 11px;
  font-weight: 600;
  padding: 10px;
  color: black;
  background-color: white;
} 





/********logos*********/

.logos {
  background-color: white;
  padding: 3rem 0rem;

}
.logos .logs{
display: grid;
grid-template-columns: repeat(auto-fit, minmax(130px, 1fr));
gap: 2em;
justify-content: center;


}

.logos .logs .col{
  text-align: center;
}

@media only screen and (max-width: 768px) {

}

 

/****join***/

.join {
  background-color: var(--color-primary);
  padding: 20px 0px;
}

.join .row{
  display: grid;
  grid-template-columns: 2fr 3fr;

}


.join h1 {
  font-size: 2rem;
  color: white;
}

.join .input-filed{
  width: 100%;
  display: flex;
  justify-content: center;
  position: relative;
  background-color: white;

}

 .join .input-filed input {
    padding: 1rem 2rem;
    border: none;
    outline: none;
    width: 100%;
    border: none;

} 


 .join .input-filed i {
  color: var(--color-primary);
  background-color: white;
align-self:center ;
padding-left: 3px;
}


.join  button {
  background-color: var(--color-primary);
  color: var(--white-color);
  padding: 1rem 1.5rem;
  border: none;
  font-weight: 600;
  cursor: pointer;
  width: 15rem;
}

@media only screen and (max-width: 768px) {
  .join h1 {
    font-size: 1rem;
  }

  .join .input-filed input{
    padding: 0.1rem 0.5rem;
    font-size: 9px;
  }

  .join .row{
    grid-template-columns: 1fr 2fr;
   }

   .join  button {
    padding: 0.8rem 1rem;
    width: 10rem;
    font-size: 10px;
   }


}


/**********footer***********/

.footer .container {
  padding: 50px 0px;
}

.footer .row {
  display: grid;
  grid-template-columns: 2fr 2fr 2fr 3fr;
  justify-content: space-between;
}

.footer .row .first {
  display: flex;
  flex-direction: column;
  gap: 10px;
}
.footer h3{
  font-size: 1.5rem;
}

.footer p {
  font-size: 11px;
}

.footer ul {
  padding-left: 0rem;
  display: flex;
  flex-direction: column;
  gap: 10px;
  margin-top: 10px;
}

.footer ul  li {
  font-size: 10px;
}

.footer ul  li i {
  color: var(--color-primary);
}


.footer   .arrow  li::before{
  font-family: "Font Awesome 5 Free";
  content: "\f101";
  font-weight: 600;
  position: relative;
  top: 0px;
  left: 0;
  line-height: 18px;
  font-size: 6px;
  margin-right: 4px;
}


.footer .fourth  {
  display: flex;
  flex-direction: column;
  gap: 10px;
}


.footer .fourth .row {
  display: flex;
  width: px;
}


.opening-hours{
  font-size: 10px;
}


@media only screen and (max-width: 768px) {

  .footer .row {
    grid-template-columns: 1fr;
    text-align: center;
    gap: 40px;
  }
  .footer .fourth .row {
    justify-content: center;
  }
}






