.blog{
    background-color: var(--white-color);
}
.blog .container {
    display: flex;
    align-items: center;
    justify-content: center;
}

.blog .single-blog {
    display: flex;
    gap: 2rem;
    width: 80%;
}

.blog .single-blog .single-img {
    width: 150rem;
    
}

.blog .single-blog .single-img img {
    width: 100%;
}

.blog .single-blog .text {
    display: flex;
    flex-direction: column;
    gap: .5rem;
    justify-content: center;
}

.blog .single-blog h1 {
    font-size: 18px;
    margin-bottom: 16px;
}

.blog .single-blog p {
    font-size: 13px;
    line-height: 1.8;
    color: rgb(128, 118, 118);
}

/* Media query for small screens  */

@media screen and (max-width: 768px) {
    .container {
        width: 90%;
    }
}



/* Media query for medium screens  */
@media only screen and (max-width: 1109px) {
    .blog .single-blog {
        width: auto;
        flex-direction: column;
    }
    .blog .single-blog .single-img {
        width: 100%;
    }
}