footer {
  background: #f5f9ff;
  color: #333;
  padding: 50px 0;
  font-size: 14px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  background-image: url("../../public/bg1.png");
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  padding: 0 2rem;
  gap: 2rem;
}

footer > .container {
  display: grid;
  grid-template-columns: 1fr 2fr 1fr;
  justify-content: center;
  padding: 5rem 0;
}

footer .container .left {
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
}

footer .container .left h2 {
  font-size: 1.6rem;
}

footer .container .left p {
  line-height: 1.6;
  color: #535353;
}

footer .container .left ul {
  display: flex;
  gap: 1rem;
  flex-direction: column;
}

footer .container .left ul li:nth-child(3) {
  font-weight: bold;
}

footer .container .left ul li:nth-child(4) {
  font-weight: bold;
}

footer .container .left ul li i {
  color: var(--color-primary);
  margin-right: 0.5rem;
}

footer .container .center {
  display: flex;
  align-items: center;
  flex-direction: column;
  gap: 1rem;
  width: 85%;
  margin: auto;
}

footer .container .center p {
  text-align: center;
  line-height: 1.6;
  color: #535353;
}

footer .container .center .footer-newslettler {
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 1rem;
  align-items: center;
}

footer .container .center .footer-newslettler h3 {
  font-size: 1.5rem;
}

footer .container .center .footer-newslettler .input-filed {
  width: 100%;
  display: flex;
  justify-content: center;
  position: relative;
}

footer .container .center .footer-newslettler .input-filed i {
  position: absolute;
  top: 50%;
  left: 15px;
  transform: translate(-50%, -50%);
  -webkit-transform: translate(-50%, -50%);
  -moz-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  -o-transform: translate(-50%, -50%);
  color: var(--color-primary);
}

footer .container .center .footer-newslettler .input-filed input {
  padding: 1rem 2rem;
  border: none;
  outline: none;
  width: 100%;
  border: 1px solid #cccccc83;
}

footer .container .center .footer-newslettler .input-filed input::placeholder {
  font-weight: 600;
}

footer .container .center .footer-newslettler .input-filed button {
  background-color: var(--color-primary);
  color: var(--white-color);
  padding: 1rem 1.5rem;
  border: none;
  font-weight: 600;
  cursor: pointer;
  width: 15rem;
}

footer .container .right {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

footer .container .right h2 {
  font-size: 1.6rem;
}

footer .container .right ul {
  display: flex;
  gap: 1rem;
  flex-direction: column;
  width: 100%;
}

footer .container .right ul li {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
}

footer .footer-bottom {
  width: 100%;
}

footer .footer-bottom .container {
  border-top: 1px solid #cccccc83;
  padding: 2rem 0;
  text-align: center;
  color: #535353;
}

footer .footer-bottom .container .site-name {
  color: var(--color-primary);
  font-weight: bold;
}

footer .footer-bottom .container .developer {
  font-weight: bold;
}

/* Media query for small screens  */

@media screen and (max-width: 768px) {
  footer .container .center .footer-newslettler h3 {
    font-size: 1.3rem;
  }

  footer .container .center .footer-newslettler .input-filed input {
    padding: 0.5rem 2rem;
  }

  footer .container .center .footer-newslettler .input-filed button {
    padding: 0.5rem 1rem;
  }
}

/* Media query for medium screens  */
@media only screen and (max-width: 991px) {
  footer .container .left {
    gap: 1.2rem;
  }

  footer {
    padding: 0;
  }

  footer > .container {
    grid-template-columns: 1fr;
    gap: 2rem;
    text-align: center;
  }

  footer .container .left h2,
  footer .container .right h2 {
    text-align: center;
    font-size: 1.6rem;
  }
}

@media only screen and (min-width: 991px) and (max-width: 1288px) {
  footer {
    padding: 0 1rem;
  }
}
