:root {
  --color-primary: #0071ef;
  --white-color: #fff;
  --main-background-color: #ecf1f8;
  --main-transition: all 0.3s ease-in-out;
  --secondary-color: #616161;
  --dark-color: black;
}
header {
  position: fixed;
  top: 0;
  left: 0;
  display: inline-block;
  width: 100%;
  -webkit-box-shadow: 0px 5px 15px 0px rgba(0, 33, 85, 0.1);
  -moz-box-shadow: 0px 5px 15px 0px rgba(0, 33, 85, 0.1);
  box-shadow: 0px 5px 15px 0px rgba(0, 33, 85, 0.1);
  z-index: 99;
}

.top-header {
  background-color: var(--white-color);
  padding: 15px 0px;
}

.top-header .container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.top-header img {
  height: 36px;
}

.top-header .contact {
  display: flex;
  align-items: center;
  gap: 1rem;
}

.top-header .contact .col {
  display: flex;
  gap: 13px;
}

.top-header .contact .col b {
  color: black;
}

.top-header .contact .col img {
  width: 36px;
  height: 36px;
}

header .bottom-nav {
  background-color: var(--color-primary);
  padding: 20px 0px;
  -o-transition: var(--main-transition);
  -webkit-transition: var(--main-transition);
  -moz-transition: var(--main-transition);
  -ms-transition: var(--main-transition);
  transition: var(--main-transition);
}

.bottom-nav ul {
  list-style: none;
  display: flex;
}

.bottom-nav ul a {
  color: rgb(255, 255, 255);
  font-weight: 500;
  padding: 0.5rem 1rem;
  -o-transition: var(--main-transition);
  -webkit-transition: var(--main-transition);
  -moz-transition: var(--main-transition);
  -ms-transition: var(--main-transition);
  transition: var(--main-transition);
  -o-border-radius: 7px;
  -webkit-border-radius: 7px;
  -moz-border-radius: 7px;
  -ms-border-radius: 7px;
  border-radius: 7px;
}

.bottom-nav ul a:hover {
  color: var(--color-primary);
  background-color: var(--main-background-color);
}

.nav-btn {
  display: none;
  border: none;
  outline: none;
  background-color: transparent;
  cursor: pointer;
  font-size: 1.6rem;
  color: var(--color-primary);
  -o-transition: var(--main-transition);
  -webkit-transition: var(--main-transition);
  -moz-transition: var(--main-transition);
  -ms-transition: var(--main-transition);
  transition: var(--main-transition);
}

.nav-btn:hover {
  color: var(--black-color);
}

@media screen and (max-width: 768px) {
  .container {
    width: 90%;
  }
}

@media only screen and (max-width: 991px) {
  .top-header .contact {
    display: none;
  }

  header .bottom-nav {
    -o-transform: translateX(-100%);
    -webkit-transform: translateX(-100%);
    -moz-transform: translateX(-100%);
    -ms-transform: translateX(-100%);
    transform: translateX(-100%);
    opacity: 0;
    position: absolute;
    width: 100%;
  }

  header .bottom-nav.active {
    -o-transform: translateX(0);
    -webkit-transform: translateX(0);
    -moz-transform: translateX(0);
    -ms-transform: translateX(0);
    transform: translateX(0);
    opacity: 1;
    -o-transition: var(--main-transition);
    -webkit-transition: var(--main-transition);
    -moz-transition: var(--main-transition);
    -ms-transition: var(--main-transition);
    transition: var(--main-transition);
  }

  .bottom-nav ul {
    display: flex;
    flex-direction: column;
    gap: 30px;
    width: 100%;
  }

  .bottom-nav ul li,
  .bottom-nav ul li a {
    width: 100%;
    display: block;
  }

  .nav-btn {
    display: block;
  }
}

/* Media query for medium screens  */
@media only screen and (min-width: 991px) and (max-width: 1030px) {
  .top-header .contact .col {
    display: flex;
    align-items: center;
    justify-content: center;
  }

  .top-header .contact .col img {
    width: 30px;
    height: 30px;
  }

  .top-header .contact .col span {
    font-size: 0.9rem;
  }
}

/* Media query for large screens  */

@media only screen and (min-width: 992px) {
  .container {
    width: 80%;
  }
}
